### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [43]:
len(purchase_data['SN'].unique())

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [277]:
unique_item_name = len(purchase_data['Item Name'].unique())
unique_item_name
avg_price=purchase_data['Price'].mean()
avg_price
num_purch=len(purchase_data['Purchase ID'].unique())
num_purch
tot_rev=purchase_data['Price'].sum()
tot_rev
purch_analysis=[{"Unique Items":unique_item_name,"Average Price":avg_price,
               "Number of Purchases":num_purch, "Total Revenue":tot_rev}]
purch_analysis_df=pd.DataFrame(purch_analysis)
purch_analysis_df["Average Price"]=purch_analysis_df["Average Price"].map("${:.2f}".format)
purch_analysis_df

  Average Price  Number of Purchases  Total Revenue  Unique Items
0         $3.05                  780        2379.77           179

In [46]:
unique_gender=purchase_data.drop_duplicates(['SN'],keep='last')

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [98]:
full_gender=purchase_data['Gender'].value_counts()
gender_count=unique_gender['Gender'].value_counts()
gender_count
full_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [50]:
gender_count_total=gender_count['Male']+gender_count['Female']+gender_count['Other / Non-Disclosed']
gender_count_total

576

In [287]:
percent_male=gender_count['Male']/gender_count_total
print(percent_male)
percent_female=gender_count['Female']/gender_count_total
print(percent_female)
other=gender_count['Other / Non-Disclosed']/gender_count_total
print(other)
gender_group=purchase_data.groupby(['Gender'])
gender_group.head()

gender_dem=[{'Percent Male':percent_male*100, 'Percent Female':percent_female*100, 'Percent Other':other*100}]
gender_dem_df=pd.DataFrame(gender_dem)
gender_dem_df['Percent Female']=gender_dem_df['Percent Female'].map("%{:.2f}".format)
gender_dem_df['Percent Male']=gender_dem_df['Percent Male'].map("%{:.2f}".format)
gender_dem_df['Percent Other']=gender_dem_df['Percent Other'].map("%{:.2f}".format)

gender_dem_df

0.8402777777777778
0.140625
0.019097222222222224

  Percent Female Percent Male Percent Other
0         %14.06       %84.03         %1.91

In [294]:

gender_group.mean()
fem_avg=gender_group['Price'].mean()
gender_group_df=pd.DataFrame(fem_avg)

gender_group_df["Price"]=gender_group_df["Price"].map("${:.2f}".format)
gender_group_df

                       Price
Gender
Female                 $3.20
Male                   $3.02
Other / Non-Disclosed  $3.35

In [295]:
gender_sum=gender_group['Price'].sum()
gender_sum_df=pd.DataFrame(gender_sum)
gender_sum_df["Price"]=gender_sum_df["Price"].map("${:.2f}".format)

gender_sum_df

                          Price
Gender
Female                  $361.94
Male                   $1967.64
Other / Non-Disclosed    $50.19


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [88]:

purchase_gender=purchase_data[["Gender", "Purchase ID", "Price"]]
purchase_gender_df=pd.DataFrame(purchase_fem)
purchase_gender_df
purchase_male=purchase_gender_df.loc[purchase_gender_df['Gender']=="Male"]
purchase_male
purchase_amt_male=len(purchase_male['Gender'])
#print(purchase_amt_male)
purchase_fem=purchase_gender_df.loc[purchase_gender_df['Gender']=="Female"]
#print(purchase_fem)
fem_mean=purchase_fem['Price'].mean
print(fem_mean)
purchase_other=purchase_gender_df.loc[purchase_gender_df['Gender']=="Other / Non-Disclosed"]
#purchase_other

<bound method Series.mean of 15     2.89
18     4.90
38     4.18
41     1.33
55     3.79
66     3.70
71     1.98
72     4.23
76     3.75
81     3.47
84     2.22
85     1.16
92     3.94
112    1.33
113    2.94
117    1.79
119    4.43
125    1.87
134    2.48
140    3.93
142    4.48
155    2.89
157    3.53
166    2.21
169    2.28
177    1.40
178    4.60
196    2.73
199    4.74
206    4.40
       ...
555    1.33
558    3.53
564    4.84
569    4.43
572    4.58
578    3.74
579    1.02
586    1.01
588    2.96
607    3.39
608    3.33
613    3.08
615    3.77
618    1.09
641    2.96
653    2.05
658    4.23
666    4.90
667    4.40
683    4.58
697    3.26
698    4.14
699    2.07
714    4.35
727    1.93
731    1.02
740    3.92
754    4.05
767    4.88
775    3.54
Name: Price, Length: 113, dtype: float64>

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [117]:
bins=[0,9,14,19,24,29,34,39,40]
group_labels=["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pd.cut(unique_gender["Age"],bins,labels=group_labels).head()

1      40+
2    20-24
3    20-24
4    20-24
6    35-39
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [315]:
unique_gender["Age Group"]=pd.cut(unique_gender["Age"],bins,labels=group_labels)
unique_gender.head()
gender_count_age=unique_gender.groupby("Age Group")
#print(gender_count_age["Age"].count())
gender_count_age_df=pd.DataFrame(gender_count_age["Age"].count())

gender_percent=(gender_count_age["Age"].count()/gender_count_total)*100
gender_percent_df=pd.DataFrame(gender_percent)
gender_percent_df["Age"]=gender_percent_df["Age"].map("%{:.2f}".format)
gender_percent_df
merge_gender_count=pd.merge(gender_count_age_df,gender_percent_df,on="Age Group",how='outer')
merge_gender_count

C:\Users\skata\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

           Age_x   Age_y
Age Group
<10           17   %2.95
10-14         22   %3.82
15-19        107  %18.58
20-24        258  %44.79
25-29         77  %13.37
30-34         52   %9.03
35-39         31   %5.38
40+            5   %0.87

In [309]:
purchase_data["Age Group"]=pd.cut(purchase_data["Age"],bins,labels=group_labels)
purchase_data.head()
purch_age=purchase_data.groupby(['Age Group'])
purch_age_df=pd.DataFrame(purch_age["Age Group"].count())
purch_age_df
purch_avg_price=purch_age.mean()
purch_avg_price_df=pd.DataFrame(purch_age["Price"].mean())
purch_avg_price_df['Price']=purch_avg_price_df['Price'].map("${:.2f}".format)
purch_avg_price_df

           Price
Age Group
<10        $3.35
10-14      $2.96
15-19      $3.04
20-24      $3.05
25-29      $2.90
30-34      $2.93
35-39      $3.60
40+        $2.79

In [311]:
age_sum=purch_age['Price'].sum()
age_sum_df=pd.DataFrame(purch_age["Price"].sum())
age_sum_df['Price']=age_sum_df['Price'].map("${:.2f}".format)

age_sum_df

              Price
Age Group
<10          $77.13
10-14        $82.78
15-19       $412.89
20-24      $1114.06
25-29       $293.00
30-34       $214.00
35-39       $147.67
40+          $16.71

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [312]:
merge_purchanal1=pd.merge(purch_age_df,purch_avg_price_df,on='Age Group',how='outer')
merge_purchanal1

C:\Users\skata\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'Age Group' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

ValueError: You are trying to merge on int64 and category columns. If you wish to proceed you should use pd.concat

In [231]:
top_spend=purchase_data.groupby(['SN'])
spend_avg=top_spend['Price'].mean()
spend_avg_df=pd.DataFrame(spend_avg)
total_spend=top_spend['Price'].sum()
total_spend_df=pd.DataFrame(total_spend)
purchase_data['SN'].value_counts()
name_count=purchase_data['SN'].value_counts()
name_count_df= name_count.rename_axis('SN').reset_index(name='Counts')
name_count_df.head()
#spend_avg_df.head()
total_spend_df.head()
#name_count_df.head()

merge_count_avg=pd.merge(name_count_df, spend_avg_df, on="SN",how="outer")
merge_count_avg.head()
merge_total=pd.merge(merge_count_avg,total_spend_df,on="SN",how="outer")
merge_total.head()
merge_finish=merge_total.rename(columns={"Counts":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"})
merge_finish.head()
sorted_purchase_df=merge_finish.sort_values("Total Purchase Value", ascending=False)
sorted_purchase_df.head()

             SN  Purchase Count  Average Purchase Price  Total Purchase Value
0     Lisosia93               5                3.792000                 18.96
1   Idastidru52               4                3.862500                 15.45
13   Chamjask73               3                4.610000                 13.83
2        Iral74               4                3.405000                 13.62
33  Iskadarya95               3                4.366667                 13.10

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [296]:
purchase_data_clean=purchase_data[["Item ID","Item Name","Price"]]
purchase_data_clean.head()
most_pop=purchase_data_clean.groupby(["Item ID","Item Name"])
total_purchase=most_pop['Price'].sum()
total_purchase_df=pd.DataFrame(total_purchase)
#purchase_data_clean=purchase_data_clean.groupby(["Item ID","Item Name"])
#purchase_data_clean.head()
item_id_count=purchase_data["Item ID"].value_counts()
item_id_count
#item_id_count=pd.DataFrame(item_id_count)
item_id_count
item_id_count_df=item_id_count.rename_axis('Item ID').reset_index(name='Counts')
item_id_count_df
purchase_data_clean.head()
merge_pop=pd.merge(item_id_count_df, total_purchase_df, on="Item ID",how="outer")
merge_pop
merge_pop_done=pd.merge(merge_pop,purchase_data_clean,on="Item ID",how="outer")
merge_pop_done
merge_pop_done=merge_pop_done.rename(columns={"Counts":"Purchase Count","Price_y":"Price","Price_x":"Total Purchase Value"})
merge_pop_done
organized_pop=merge_pop_done[["Item ID","Item Name", "Purchase Count","Price","Total Purchase Value"]]
organized_pop_dupe=organized_pop.drop_duplicates()
organized_pop_dupe
#organized_pop=organized_pop.groupby(["Item ID"])
#organized_pop
sorted_pop=organized_pop_dupe.sort_values("Purchase Count",ascending=False)
sorted_pop.head()

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
21,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
30,145,Fiery Glass Crusader,9,4.58,41.22
12,82,Nirvana,9,4.90,44.10
71,72,Winter's Bite,8,3.77,30.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [297]:
sorted_tot=organized_pop_dupe.sort_values("Total Purchase Value",ascending=False)
sorted_tot.head()

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
12,82,Nirvana,9,4.90,44.10
30,145,Fiery Glass Crusader,9,4.58,41.22
39,92,Final Critic,8,4.88,39.04
63,103,Singed Scalpel,8,4.35,34.80